{{ define "section_content" }}
<div class="section" id="content">
    {{ .Content }}
</div>

{{ if .Site.Params.clickablePhotos }}
    <div class="grid">
        {{ $name := .Site.Params.galleryFolder | default "images/"}}
        {{ $path := .File.Dir }}
        {{ $content := "/content/" }}
        {{ $src := (print $path $name) }}

        {{ $folder := (print $content $path $name) }}

        {{ $files := readDir $folder }}

        {{ $previewSubdirectory := .Site.Params.smallImagesSubfolder | default "small/"}}
        {{ $previewImagesEnabled := .Site.Params.smallPreviewImages }}

        {{ range $files }}

        {{ if not .IsDir }}
            
        <div>
                <a href="{{ $src | absURL }}{{ .Name }}">
                    {{ if $previewImagesEnabled}}
                    <img src="{{ $src | absURL }}{{ $previewSubdirectory }}{{ .Name }}" alt="{{ .Name }}" />
                    {{ else }}
                    <img src="{{ $src | absURL }}{{ .Name }}" alt="{{ .Name }}" />
                    {{ end }}           
                </a>
        </div>
        {{ end }}

        {{ end }}
    </div>
{{ else }}
    <div class="grid">
        {{ $name := .Site.Params.galleryFolder | default "images/"}}
        {{ $path := "gallery/" }}
        {{ $content := "/content/" }}
        {{ $src := (print $path $name) }}

        {{ $folder := (print $content $path $name) }}

        {{ $files := readDir $folder }}

        {{ range shuffle $files }}
            {{ if not .IsDir }}
            <div>
                <img src="{{ $src | absURL }}{{ .Name }}" alt="{{ .Name }}" />
            </div>
            {{ end }}
        {{ end }}

    </div>
{{ end }}
{{ end }}